.main {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}
.status{
  font-size: 24px;
}
.winner{
  font-size: 24px;
  color: greenyellow;
}
.board {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.square {
  font-size: 60px;
  width: 80px;
  height: 80px;
  border: 2px solid lightblue;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--foreground-rgb);
  cursor: pointer;
}
.square:hover {
  background-color: #1e1e1e;
}

.game {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.gameInfo {
  margin-left: 20px;
  height: 300px;
  width: 250px;
  overflow-y: auto;
  background-color: #1e1e1e;
}

.moves{
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.move{
  padding: 10px;
  font-size: 18px;
  width: 100%;
}

.orderContainer{
  display: flex;
  font-size: 14px;
  margin: 20px 20px;
  gap: 10px;
}